@import "tailwindcss";

@layer base {
  body{
    font-family: "Poppins", sans-serif;
  }
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 50px;       
  height: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #111827;  
  font-size: 18px; 
  font-weight: 800;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ffffff;
}

.swiper-button-prev {
  left: 20px; 
}

.swiper-button-next {
  right: 20px;
}
